.date_picker_input {
  &__wapper {
    & input {
      height: 2.375rem;
      width: 100%;
    }
    & label {
      margin-bottom: 0.5rem;
    }
  }
}

.date-range-picker-input {
  & > div {
    height: 0;
  }
  & input {
    position: absolute;
    visibility: hidden;
    height: 0;
  }
  &__input {
    cursor: pointer;
  }
}
