body {
  font-family: 'IRANSans';
}

body:before {
  content: 'xs';
  display: none;
  visibility: hidden;
}

@media (min-width: 576px) {
  body:before {
    content: 'sm';
  }
}

@media (min-width: 768px) {
  body:before {
    content: 'md';
  }
}

@media (min-width: 992px) {
  body:before {
    content: 'lg';
  }
}

@media (min-width: 1200px) {
  body:before {
    content: 'xl';
  }
}

input[type='number'] {
  text-align: right;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.text-right {
  text-align: right;
}

.text-size-small {
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  &--xs {
    display: none;
    @include res(sm) {
      display: unset;
    }
  }
}
