// Here you can add other styles
[dir='rtl'] .sidebar-nav .nav-group-items .nav-link {
  padding-right: 2rem;
}

.form-select {
  background-position: left 0.75rem center;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-position: left calc(0.375em + 0.1875rem) center;
}
.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  background-position: top calc(0.375em + 0.1875rem) left calc(0.375em + 0.1875rem);
}
.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size='1'],
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size='1'] {
  background-position: left 0.75rem center, center left 2.25rem;
}

.btn-loading.is-loading .btn-loading-spinner {
  margin-left: 0.5rem;
}

.modal-header .btn-close {
  margin: -0.5rem auto -0.5rem -0.5rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .accordion-item {
    .accordion-button {
      box-shadow: none;
      &:focus {
        border: none;
        box-shadow: none;
      }
      &:not(.collapsed) {
        background-color: var(--cui-accordion-button-bg, #fff);
        color: var(--cui-accordion-button-color, rgba(44, 56, 74, 0.95));
      }
    }
  }
}
